@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0px;
  font-size: 16px;
  width: 100%;
}

/* nav bar */
.header {
  font-family: Raleway;
  overflow: hidden;
  background-color: white;
  padding: 20px 10px;
  border-top: 8px solid;
  border-top-color: #9E005D;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-left: 15px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  height: 49px;
  width: 49px;
  font-size: 25px;
  font-weight: bold;
  padding: 0px;
}

.header a.logo img {
  height: 49px;
  width: 49px;
  padding: 0px;
}

/* Change the background color on mouse-over */
.header a:hover {
  text-decoration: none;
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #9E005D;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }

  .paragraph {
    height: 100% !important;
  }

  .text,
  .text > p {
    height: calc(100vh - 332px) !important;
  }

  .text > p {
    overflow-y: scroll;
  }


}

.paragraph {
  font-family: Raleway;
  font-size: 1.5rem;
  width: auto;
  height: calc(100vh - 136px);
  background-image: url('./bella.png');
  background-size: cover;
  overflow-x: hidden;
  overflow-y: scroll;


  display: flex;
  flex: 0 1 auto;
  justify-content: left;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 600px;
  height: auto;
  background-color: white;
  margin: 100px;
  padding: 10px;
}

.text p,
.text h2 {
  margin: 15px;
}

/* footer */
footer {
	font-family: Raleway;
	padding-left: 1vw;
	padding-right: 1vw;

}

footer p {
  margin: 0;
  padding: 10px 0px;
}

#copyright {
	text-align: left;
}

#madewith {
	text-align: right;
	float: right;
}